<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /wonderfulservices/js/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /wonderfulservices/index.php [QSA,L]
</IfModule>